<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome to Our Service</h1>

<div sec:authorize="isAuthenticated()">
    <p>Hello, <span th:text="${#authentication.name}"></span>!</p>
    <p>Your email: <span th:text="${#authentication.principal.user.email}"></span></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</div>

<div sec:authorize="!isAuthenticated()">
    <p>You are not logged in.</p>
    <a href="/login">Login / Sign Up</a>
</div>
</body>
</html>