:global(.progressFill.blue.false) {
  height: 100% !important;
  margin-top: 0px !important;
}
:global(.progressFill.blue.glowingEffect) {
  height: 100% !important;
  margin-top: 0px !important;
}


.progressBarFancyContainer .progressFill{
  height: 60%;
}

.progressBarFancyContainer .glowingEffect{
  height: 60%;
}

:global(.progressBarFancyContainer.progressFill) {
  margin-top: 0px !important;
}

.progressFill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* 너비를 부모 요소에 맞춤 */
}

:global(.progressBarFancyContainer .progressBar>.progressTrack){
  margin-top: 0px !important;
}

.gauge_bar {
  width: 80%; /* 게이지 바의 전체 너비를 80%로 줄임 */
  max-width: 400px; /* 최대 너비를 400px로 설정 */
  margin-bottom: 20px;
  background-color: #ffe8e8;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.089);
}


.gauge_bar h1 {
  text-align: center;
  margin-bottom: 40px;
}

.gauge_item {
  transition: 0.4s;
}



.gauge_item p {
  overflow: hidden;
  margin-bottom: 0;
}



.gauge_item p span {
  float: right;
  color: #000;
}


