.container {
  padding: 24px;
  background-color: white;
}

.loadingContainer, .noMembersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.title {
  margin-bottom: 16px;
}

.subtitle {
  margin-bottom: 24px;
}
