/* settings.module.css */
.container {
  padding: 24px;
  max-width: 768px;
  margin: 0 auto;
}

.groupName {
  margin-bottom: 24px;
}

.form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggleSection, .logoutSection, .leaveSection, .withdrawSection {
  margin-bottom: 24px;
}

.sectionTitle {
  font-weight: bold;
}
